.home {
    .hero {
        height: 400px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../images/hero.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: proxima-nova-condensed;
        font-weight: 100;
        .container {
            color: white;
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            h1 {
                font-family: proxima-nova-condensed;
                font-weight: 100;
                font-size: 60px;
            }
        }
    }
    .promo-tours {
        margin-bottom: 60px;
        position: relative;
        width: 100%;
        height: 304px;
        margin-top: -56px;
        display: flex;
        justify-content: space-around;
        font-family: proxima-nova, sans-serif;
        font-weight: 200;
        h1 {
            font-weight: 200;
        }
        h2 {
            font-weight: 100;
        }
    }
    .booking {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 100px;
        font-size: 18px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .container {
            width: 80%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .title {
                width: 100%;
                margin: 30px;
                h2 {
                    font-size: 60px;
                    font-family: proxima-nova, sans-serif;
                    font-weight: 200;
                }
            }
            form {
                display: flex;
                gap: 21px;
                width: 100%;
                flex-wrap: wrap;
                justify-content: center;
                input {
                    height: 58px;
                    border: 2px solid #79ADDC;
                    padding: 5px;
                }
                input::placeholder {
                    font-size: 18px;
                    color: #000
                }
                .name,
                .country {
                    width: 344px;
                }
                .email,
                .hotel {
                    width: 453px;
                }
                .check-in,
                .check-out {
                    width: 750px;
                }
                .adult,
                .children,
                .rooms {
                    width: 103px;
                }
                .message {
                    width: 100%;
                    height: 192px;
                }
                button {
                    margin-top: 37px;
                    height: 60.59px;
                    width: 100%;
                    padding: 5px 15px;
                    background-color: #79ADDC;
                    border: none;
                    margin-bottom: 16px;
                    border-radius: 50px;
                }
            }
        }
    }
}